.body{
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: #aa55ff;
}
#container {
	margin: 0;
	background-color: #eaeaeb;
}
#header {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;

}
#mainmenu {
	text-align: center;
	background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
	width: 100%;
	overflow: hidden;
	height: 80px;
	font-size: 180%;
}
#mainmenu ul li {
	display: inline;
	padding-left: 100px;
}
#mainmenu ul li a {
	text-decoration: none;
	color: #000000;
	
}
#Scl1:hover{
	text-decoration: underline;
}
#Scl2:hover{
	text-decoration: underline;
}
#Scl3:hover{
	text-decoration: underline;
}
#content {

	width: 100%;
	height: 1360px;
}
#first_title{
	width: 65%;
	margin-left: 10%;
}
.post{
	background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
	border-style: solid;
	width: 65%;
	height: 240px;
	margin-left: 10%;
	margin-bottom: 10px;
}
.post:hover{
	box-shadow: 3px 3px 7px #000000;
}
.picture{

	overflow: hidden;
	border-style: solid;
	position: absolute;
	width: 15%;
	margin: 10px;
	height: 215px;

}
#picture1{
	background-image: url('../img/news4.jpg');	
}
#picture2{
	background-image: url('../img/inv6.jpg');
}
#picture3{
	background-image: url('../img/part2.jpg');
}
.block_text{
	position: relative;
	border-style: solid;
	margin: 10px;
	width: 72%;
	height: 215px;
	left: 25%;

}
.textt{
	text-decoration: none;
	color: #000000;
}
.textt:hover{
	text-decoration: underline;
	color: #00007f;
}
#footer {
	text-align: center;
	background: #dddddd;
	width: 100%;
	height: 40px;
}
#footer ul li{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	border: 0px;
}
